.jumbotron
  - if @result
    %h3
      = "Предполагаемая стоимость: ~ #{@result} ₽"
  = form_tag "/", method: :get, class: 'form-inline' do
    / %br
    / = select_tag :territory, options_for_select(@territory_opts, params[:territory]), placeholder: 'Search for something', class: 'form-control', :required => true
    = label_tag " Количество лиц допущенных к управлению"
    = select_tag :drivers, options_for_select(@drivers_opts, params[:drivers]), prompt: 'Выберите соответствующее значение:', class: 'form-control', :required => true
    = label_tag " Возраст и стаж водителей"
    = select_tag :experience, options_for_select(@experience_opts, params[:experience]), prompt: 'Выберите соответствующее значение:', class: 'form-control', :required => true
    = label_tag " Период страхования"
    = select_tag :period, options_for_select(@period_opts, params[:period]), prompt: 'Выберите соответствующее значение:', class: 'form-control', :required => true
    = label_tag " Мощность ТС (л.с)"
    = select_tag :power, options_for_select(@power_opts, params[:power]), prompt: 'Выберите соответствующее значение:', class: 'form-control', :required => true
    = label_tag " КБМ"
    = select_tag :kbm, options_for_select(@kbm_opts, params[:kbm]), prompt: 'Выберите соответствующее значение:', class: 'form-control', :required => true
    = link_to "Узнать свой КБМ", "http://www.in-secrets.ru/kbm", target: "_blank"
    .submit
      = submit_tag 'Посмотреть результат', name: nil, class: 'btn btn-default submit'